# Main notebook

This notebook reads the `ParticipantStatusLogs` files and extracts records from certain moments of the day.

Then, It concatenates everything in a new CSV file.

In [8]:
import pandas as pd

### Read status log fiels and filter certain moments of the day

In [19]:
df = None

# Period 2022-04 - 2023-04
for file_number in range(6, 69):
    filename = f"ParticipantStatusLogs{file_number}.csv"
    path = f"/Users/facundopalavecino/Documents/Facu/ITBA/Cursadas/08 - Data Viz/VAST-challenge/VAST-Challenge-2022/Datasets/Activity Logs/{filename}"

    log = pd.read_csv(path)
    
    log.timestamp = pd.to_datetime(log.timestamp)
    
    log = log.set_index("timestamp")
    
    logs = pd.concat([
        log.at_time("12:00"),
        log.at_time("22:00")
    ])
    
    logs = logs.reset_index()

    if df is None:
        df = logs
        
    else:
        df = pd.concat([df, logs], axis=0, ignore_index=True)
    
    print(f"File {file_number} processed. {len(df)} records")

File 6 processed. 11440 records
File 7 processed. 22000 records
File 8 processed. 33440 records
File 9 processed. 44880 records
File 10 processed. 55440 records
File 11 processed. 66880 records
File 12 processed. 77440 records
File 13 processed. 88880 records
File 14 processed. 100320 records
File 15 processed. 110880 records
File 16 processed. 122320 records
File 17 processed. 132880 records
File 18 processed. 144320 records
File 19 processed. 155760 records
File 20 processed. 166320 records
File 21 processed. 177760 records
File 22 processed. 189200 records
File 23 processed. 199760 records
File 24 processed. 211200 records
File 25 processed. 222640 records
File 26 processed. 233200 records
File 27 processed. 244640 records
File 28 processed. 255200 records
File 29 processed. 266640 records
File 30 processed. 277200 records
File 31 processed. 288640 records
File 32 processed. 300080 records
File 33 processed. 310640 records
File 34 processed. 322080 records
File 35 processed. 333520 records
File 36 processed. 344080 records
File 37 processed. 355520 records
File 38 processed. 366080 records
File 39 processed. 377520 records
File 40 processed. 388960 records
File 41 processed. 399520 records
File 42 processed. 410960 records
File 43 processed. 421520 records
File 44 processed. 432960 records
File 45 processed. 444400 records
File 46 processed. 454960 records
File 47 processed. 466400 records
File 48 processed. 477840 records
File 49 processed. 488400 records
File 50 processed. 499840 records
File 51 processed. 511280 records
File 52 processed. 521840 records
File 53 processed. 533280 records
File 54 processed. 543840 records
File 55 processed. 555280 records
File 56 processed. 565840 records
File 57 processed. 577280 records
File 58 processed. 588720 records
File 59 processed. 599280 records
File 60 processed. 610720 records
File 61 processed. 621280 records
File 62 processed. 632720 records
File 63 processed. 643280 records
File 64 processed. 654720 records
File 65 processed. 666160 records
File 66 processed. 676720 records
File 67 processed. 688160 records
File 68 processed. 699600 records

### Take a look at the result

In [22]:
df.head()

,timestamp,currentLocation,participantId,currentMode,hungerStatus,sleepStatus,apartmentId,availableBalance,jobId,financialStatus,dailyFoodBudget,weeklyExtraBudget
0,2022-04-01 12:00:00+00:00,POINT (36.324178793607146 1263.1211858073589),0,AtWork,BecomingHungry,Awake,926,9531.910195,254,Stable,12,2008.976229
1,2022-04-01 12:00:00+00:00,POINT (-2612.2843755981316 6482.785001276145),1,AtWork,BecomingHungry,Awake,928,7238.335901,929,Stable,12,1618.463065
2,2022-04-01 12:00:00+00:00,POINT (440.77629266280564 4341.806688262852),2,AtWork,BecomingHungry,Awake,291,7288.178782,348,Stable,16,1504.354990
3,2022-04-01 12:00:00+00:00,POINT (1367.9266119846243 4855.283897597215),3,AtWork,BecomingHungry,Awake,1243,6879.077847,316,Stable,12,1441.887653
4,2022-04-01 12:00:00+00:00,POINT (917.2965590639861 4305.6452297830165),4,AtWork,BecomingHungry,Awake,136,6323.367148,177,Stable,20,3024.368034

### Save it in a new CSV file

In [21]:
df.to_csv("2022-04__2023-04__1200-2200.csv")